@import url("node_modules/bootstrap-icons/font/bootstrap-icons.css");
@import 'custom';

html{
    position: relative;
    min-height: 100%; 
}

main{
    margin-bottom: 60px;  // Juste assez pour le footer
}

footer.footer{
    padding: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

h1{
    $font-family-base: 'Poppins, sans-serif' !default;
    font-size: 50px;
    color: black;
}

p{
    $font-family-base: 'Poppins, sans-serif' !default;
    font-size: 18px;
    color: black;
}

.hero-scene{
    position: relative;
    &::before{
        content:"";
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background-image: url(../images/photoHero.jpg);
        background-size: cover;
        filter: brightness(0.5);
    }

    *{
        //Positionner les éléments devant le ::before
        position:relative;
    }

    .hero-scene-content{
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: white;  // Met le titre en blanc
        }

        .btn {
            margin-top: 2rem;  // Ajoute de l'espace au-dessus du bouton
            background-color: var(--bs-primary); // Utilise la variable de couleur primaire de Bootstrap
            color: white;
            
            &:hover {
                background-color: darken($dark, 10%);
            }
        }
    }
}

.image-card{
    position: relative;
    height: 300px;  // Hauteur fixe pour le conteneur

    &:hover{
        .titre-image{
            opacity: 1;
        }
        img{
            filter: brightness(0.3);
        }
    }

    img{
        transition: all 0.3s;
        height: 100%;  // L'image prend toute la hauteur du conteneur
        object-fit: cover;  // L'image garde ses proportions et couvre tout l'espace
    }

    .titre-image{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}
