// Correction de l'import des icônes Bootstrap
@import "../node_modules/bootstrap-icons/font/bootstrap-icons";
@import 'custom';

html, body {
    height: 100%; /* Assure que la page occupe toute la hauteur */
}

html {
    position: relative;
    min-height: 100%; 
}

main {
    min-height: calc(100vh - 60px); /* Ajuste la hauteur pour inclure le footer */
    margin-bottom: 60px;  // Juste assez pour le footer
}

footer.footer {
    padding: 15px;
    position: relative; /* Footer suit le flux normal de la page */
    background-color: #000; /* Ajoute une couleur de fond pour le footer */
    color: #fff; /* Texte blanc pour le footer */
}

footer {
    margin-top: 0 !important; /* Supprime la marge supérieure */
    padding-top: 0 !important; /* Supprime le padding supérieur */
}

.container-fluid.bg-dark {
    margin-bottom: 0 !important; /* Supprime la marge inférieure */
    padding-bottom: 0 !important; /* Supprime le padding inférieur */
}

h1 {
    $font-family-base: 'Poppins, sans-serif' !default;
    font-size: 50px;
    color: black;
}

p {
    $font-family-base: 'Poppins, sans-serif' !default;
    font-size: 18px;
    color: black;
}

.hero-scene {
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url(../images/photoHero.jpg);
        background-size: cover;
        filter: brightness(0.5);
    }

    * {
        //Positionner les éléments devant le ::before
        position: relative;
    }

    .hero-scene-content {
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1 {
            color: white;  // Met le titre en blanc
        }

        .btn {
            margin-top: 2rem;  // Ajoute de l'espace au-dessus du bouton
            background-color: var(--bs-primary); // Utilise la variable de couleur primaire de Bootstrap
            color: white;
            
            &:hover {
                background-color: darken($dark, 10%);
            }
        }
    }
}

.image-card {
    position: relative;
    height: 300px;  // Hauteur fixe pour le conteneur

    &:hover {
        .titre-image {
            opacity: 1;
        }
        img {
            filter: brightness(0.3);
        }
    }

    img {
        transition: all 0.3s;
        height: 100%;  // L'image prend toute la hauteur du conteneur
        object-fit: cover;  // L'image garde ses proportions et couvre tout l'espace
    }

    .titre-image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: all 0.3s;
    }
}
